* {box-sizing: border-box;
    margin: 0;
    padding: 0
}

h1 {
    color: green;
}

h2 {
    color: green;
}

#economia h2 {
    color: gold;
}                                         /* # Colocar estilo por ID */ 

.data {
    color: #ccc;
}                                          /* . Colocar estilo por class */ 

* {
    color: black;                         /* * Colocar estilo por tudo  */ 
}

h1:hover {
    color: violet;                      /* ouver Colocar estilo quando passa por cima  */
}

li:last-child{
    color: aliceblue;
}

.botaoenviar{
    background-color: green;
    color: white;
}
.botaoapagar{
    background-color: red;
    color: white;
}